<?xml version="1.0" encoding="utf-8"?>
<!--
	~ SPDX-FileCopyrightText: 2020-2023 Hunter J Drum
	~ SPDX-FileCopyrightText: 2024-2025 MDP43140
	~ SPDX-License-Identifier: GPL-3.0-or-later
	-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	android:installLocation="auto">
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"
		android:minSdkVersion="34" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
	<uses-permission android:name="moe.shizuku.manager.permission.API_V23"/>
	<uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
		tools:ignore="ProtectedPermissions"/>
	<queries>
		<intent>
			<action android:name="android.intent.action.MAIN" />
		</intent>
		<package android:name="moe.shizuku.privileged.api" />
	</queries>
	<application
		android:allowBackup="true"
		android:enableOnBackInvokedCallback="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:name=".App"
		android:requestLegacyExternalStorage="true"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:exported="true"
			android:name=".MainActivity"
			android:theme="@style/AppTheme.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data
				android:name="android.app.shortcuts"
				android:resource="@xml/shortcuts"/>
		</activity>
		<service
			android:foregroundServiceType="dataSync"
			android:exported="false"
			android:name=".CleanupService"
			android:label="Cleanup Service" />
		<receiver
			android:exported="false"
			android:name=".BootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<activity
			android:name=".PanicResponderActivity"
			android:exported="true"
			android:launchMode="singleInstance"
			android:noHistory="true"
			android:theme="@android:style/Theme.NoDisplay">
			<intent-filter>
				<action android:name="info.guardianproject.panic.action.TRIGGER" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<provider
			android:name="rikka.shizuku.ShizukuProvider"
			android:authorities="${applicationId}.shizuku"
			android:multiprocess="false"
			android:enabled="true"
			android:exported="true"
			android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
		<meta-data
			android:name="moe.shizuku.client.V3_SUPPORT"
			android:value="true" />
	</application>
</manifest>
